.pp>a {
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
  opacity: 0;

  filter: alpha(opacity=0);
  /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
  -webkit-animation: silder 15s linear infinite;
  animation: silder 15s linear infinite;
}

.pp>a>img {
  max-width: 100%;
}

/*動畫關鍵影格*/
@-webkit-keyframes silder {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes silder {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

/*每個圖片各延遲5秒*/
.pp>a:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.pp>a:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.pp>a:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

/*滑入時停止播放*/
.pp:hover>a {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.bp1 {
  border: 5px outset rgba(0, 0, 0, 0.61);
  height: 500px;
  width: 1200px;
  position: absolute;
  top: 150px;
  left: 160px;
  background-color: rgba(0, 0, 0, 0.61);
}

.fs {
  text-align: center;
  color: white;
  font-family: Comic Sans MS;

}

footer {
  padding: 20px;
  background-color: black;
}

.bot {
  color: white;
  font-family: Comic Sans MS;
  background-color: black;
  text-align: center;
  position: relative;
  left: 47%;

}

.info {
  position: relative;
  top: 550px;
  font-family: Comic Sans MS;
  font-size: 30px;
  color: rgb(7, 6, 6);
  text-align: center;

  margin-bottom: 50px;
}

.tit3 {
  position: relative;
  font-family: Comic Sans MS;
  font-size: 30px;
  color: rgb(7, 6, 6);
  text-align: center;
  border: 5px solid black;
  height: 500px;
  width: 1200px;
  left: 160px;
}

.tit4 {
  position: relative;
  padding: 10px;
  font-family: Comic Sans MS;
  font-size: 20px;
  color: rgb(7, 6, 6);
  text-align: center;
  left: -250px;
  float: right;

  top: -300px;
}

.pic2 {
  position: relative;
  left: 45px;
  float: left;
  height: 70%;
  top: -450px
}

.star {
  display: inline-block;
  font-size: 0;
  position: relative;
}

.star-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAMAAADJ7yrpAAAAYFBMVEUAAAD92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92Un92UmCTPEWAAAAH3RSTlMA9iwe++hAgPLJo13i3Td8JO3Sk4xtYkYUC76cVBIjGgBFCwAAAMtJREFUKM+1kUkOhCAQRUEFBHGep67737JRlEFNJ73wbyAv9WtRD/1O3z/AqrqzDqC7spEAkPECGagwlwRJE28wbpJAk5xjcIJ5rmBBwAsp9nLpsvJYkMWWxRk6QrHZSJFJesIU2UQnjCwLwSQ0kG4zQmzzdmcCuA5VocaQGNiyQX8G1qK/8q6jNH1wtCx3RxwhfnUkM3Vs6ToSdNUDK52NI6JL+4R1JD/HYaXriOsP9xxN+p08R0JV1ZlnzxELRBSJIPccSe1IvufoCxGAFoLwSVOBAAAAAElFTkSuQmCC') center top no-repeat;
}

input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0)
}

input[type="radio"]:checked+.star-item~.star-item {
  background-position: center bottom;
}

.star:hover label.star-item {
  background-position: center top !important;
}

label.star-item:hover~.star-item {
  background-position: center bottom !important;
}

.star-item:after {
  position: absolute;
  width: 100px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  right: 0;
  margin-right: -105px;
  color: #666
}

.star:hover .star-item:after {
  content: '' !important
}


input[type="radio"]:checked+.star-item:after {
  content: attr(title)
}

.star:hover .star-item:hover:after {
  content: attr(title) !important
}